
# frontend
# VITE_SERVER_URI = http://localhost:5002/api/v1/synapse
# VITE_SOCKET_URI = http://localhost:5002


# laxman2509shinde@gmail.com


# backend

# # -------------------------------------------------------------------------------- #
# #  ---------------------- GENRAL -------------------------- #

# PORT = 5002
# APP_NAME = 'Synapse'
# CORS_ORIGIN = 'http://localhost:5173'
# NODE_ENV = "development"
# EXPRESS_SESSION_SECRET = "8fePNEGTSME0ew2j-5m2Cy5m2CoVoVKVIh1II_QHUVkDhKNfhYAzKCOusEK1Y1ezscN2qiT80-bj8kx2Mkx"
# FORGET_PASSWORD_REDIRECT_URL = http://localhost:5002/forget-password

# # -------------------------------------------------------------------------------- #
# #  ---------------------- MONGODB -------------------------- #

# MONGODB_URI = "mongodb+srv://shinde2503:laxman25032002@cluster0.5qjgfvd.mongodb.net"

# # -------------------------------------------------------------------------------- #
# #  ---------------------- TOKENS -------------------------- #

# ACCESS_TOKEN_SECRET = "Zmx4N2k4anI1cDB2OXc2aTVxMHI4ZTNmMnkwdzcxYjByN3A1cTh2OXM2ZDU2"
# REFRESH_TOKEN_SECRET = "a3f8c729e1b64d07f92a85c0b3e8614f5d2c7a9b1e4f6380c5d2a7b9e1f4c8a3"
# ACCESS_TOKEN_EXPIRY = 1h
# REFRESH_TOKEN_EXPIRY = 1d

# # -------------------------------------------------------------------------------- #
# #  ---------------------- CLOUDINARY -------------------------- #

# CLOUDINARY_API_SECRET="irruYQDTikdcyh9tYdt_0nkIjYE"
# CLOUDINARY_API_KEY="566988131177383"
# CLOUDINARY_URI="cloudinary://566988131177383:irruYQDTikdcyh9tYdt_0nkIjYE@dykfjk3ea"
# CLOUDINARY_CLOUD_NAME = "dykfjk3ea"

# # -------------------------------------------------------------------------------- #


# # -------------------------------------------------------------------------------- #
# #  ---------------------- MAILSTREP -------------------------- #

# MAILSTREP_SMTP_SECREAT = "7540f7d2a6ba889184adf54088fa848e"
# MAILSTREP_SMTP_HOST = 'send.api.mailtrap.io'
# MAILSTREP_SMTP_USER = 'send.api.mailtrap.io'
# MAILSTREP_SMTP_PASS = '7540f7d2a6ba889184adf54088fa848e'
# MAILSTREP_SMTP_PORT = 587

# # -------------------------------------------------------------------------------- #


# # -------------------------------------------------------------------------------- #
# #  ---------------------- GOOGLE CLIENT -------------------------- #

# GOOGLE_CLIENT_ID ="62203038174-n1cl4udqbqj9na4gcokv1nbtump5ihqu.apps.googleusercontent.com"
# GOOGLE_CLIENT_SECRET ="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"
# GOOGLE_CALLBACK_URL = http://localhost:5002/synapse/v1/users/google/callback

# # -------------------------------------------------------------------------------- #


# # -------------------------------------------------------------------------------- #
# #  ---------------------- GITHUB CLIENT -------------------------- #

# GITHUB_CLIENT_ID ="Ov23liZzAwwc0qZDwr34"
# GITHUB_CLIENT_SECRET ="69e9f1fbf5667329228b9c864d28cd3be5378fc0"
# GITHUB_CALLBACK_URL = http://localhost:5002/synapse/v1/users/github/callback

# # -------------------------------------------------------------------------------- #
